.m-prim-btn {
	border: 2px solid #28ADB5;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(40, 173, 181, 0.69), inset 0 -2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 280px;
	width: 70%;
	height: 42px;
	margin: 20px auto;
}

.m-sec-btn, .m-google-btn {
	color: $color-sec-btn-text;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	margin: 20px;
	width: 50%;
	max-width: 200px;
	height: 36px;
	background: $color-secondary-btn;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 18px;
}