/**
 * The logo to put in our header (navigation)
 */

.m-logo {
	display: flex;
	align-items: center;

	&__divider {
		display: none;
		height: rem(32px);
		width: rem(1.5px);
		margin: 0 rem(16px);
		background-color: $icon-color-primary;

		@include at($screen-sm) {
			display: block;
		}
	}
}