// Primitive colors
// ------------------------------------------------------------------------- /
$alabaster: #fafafa;
$mercury: #e6e6e6;
$dusty: #999;
$shark: #262626;
$midnight: #003569;

$near-white: #FBFBFB;

$white: #fff;
$black: #000;

// Contextual colors
// ---
// These are the colors that you're supposed to use.
// ------------------------------------------------------------------------- /
$color-base: $shark;
$border-color: $mercury;

$text-color-primary: $shark;
$link-color-primary: $midnight;
$icon-color-primary: $shark;
$border-color-primary: $mercury;
$background-color-primary: #0E272D;

$color-primary-btn-text: #ACD8DB;
$color-error: #cc9393;
$color-secondary-btn: #1D4252;
$color-white-text: $near-white;
$color-sec-btn-text: #28ADB5;
$color-link: #9D9D9D;

$text-color-secondary: $dusty;
$background-color-secondary: $white;

$background-color-overlay: rgba($black, 0.3);
