{{#with data }}
<h1>{{crewCode}}</h1>
<ul class="m-member-list">
{{#members}}
<li class="m-member-list__member">
	<div class="a-avatar__pic" style="background-image: url(../../assets/images/avatar/{{avatar}}_64.png); width: 64px; height:64px; background-size: cover;"></div>
	<p class="a-member__screenName">{{screenName}}</p>
</li>
{{/members}}
</ul>
{{/with}}
<button class="a-backend__button" id="{{addUserBtnId}}">Add user</button>