{{> header }}
<div class="u-container u-spacer-t">
  <h1>
    {{bold title}}
  </h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio et doloribus similique perferendis velit excepturi sapiente quibusdam. Voluptatem qui natus pariatur iste nemo aut minima laborum! Eaque sapiente earum quo.
  </p>
</div>
{{> footer }}