{{> header }}
<div class="page home">
  <h1>Hello, {{user}}!</h1>
  <div class="body">
    <h1>
      {{bold title}}
    </h1>
    {{routerLink "about" "ga door naar about"}}
  </div>
</div>
{{> footer }}