<h1 class="a-h1" id="btn">#infected</h1>
<button class="a-button-container__button {{modifierParasite}}">Yes, the alien got me</button>
<button class="a-button-container__button {{modifierPlague}}">No, it didn't</button>
