<div class="o-app-container">
	<div class="a-back-icon"></div>
	<h2 class="a-h2" id="btn">You can join a crew by...</h2>
	<p class="a-text">..getting invited through text message or whatsapp</p>
	<p class="a-text--or">or</p>
	<p class="a-text"> ... typing the space <br><span class="a-text--bold">mission identification</span><br>code below!</p>
	<p class="a-text">  </p>
	<input type="text" class="a-code" id="{{codeFieldId}}" placeholder="....">
	{{> primaryButton btn_txt="join" btn_id=joinBtnId }}
</div>
