{{#with data}}
<p class="a-text-secondary">TIME'S UP</p>
<h1 class="a-h1" id="btn">You lost</h1>
<p class="a-text-secondary">You couldn’t get rid of the parasite!</p>
<h2 class="a-h2" id="btn">You infected</h2>
<p class="a-text-secondary"><span class="a-important-number">{{astronautsInfected}}</span>astronauts</p>
{{/with}}
{{> secondaryButton btn_txt="back to game" btn_id=toGameBtnId }}
