<div class="a-back-icon" id="{{backBtnId}}" style="background-image: url(../../assets/icons/fontawesome/chevron-left-solid.svg); width: 20px; height:20px; background-size: cover;"></div>
<h1 class="a-h1">Password reset</h1>
{{> inputfield input_title="Email" input_id=emailFieldId }}
{{> primaryButton btn_txt="send" btn_id=sendBtnId  }}