<div class="o-app-container">
	<h1 class="a-h1">Password reset</h1>
	<p class="a-text">A password reset mail has been sent to</p>
	<p class="a-text"><span class="a-text--bold">{{ email }}</span></p>
	<a href="/#!/login">{{> secondaryButton btn_text="to login"   }}</a> 
</div>