<h1 class="a-h1">choose an avatar</h1>
<div class="m-avatar-scroller">
	<div class="a-chevron-icon" id="{{goLeftBtnId}}" style="background-image: url(../../assets/icons/fontawesome/chevron-left-solid.svg); width: 20px; height:20px; background-size: cover;"></div>
	<div class="a-avatar__pic" id="avatarDiv" style="background-image: url(../../assets/images/avatar/{{avatar}}_128.png); width: 128px; height:128px; background-size: cover;"></div>
	<div class="a-chevron-icon" id="{{goRightBtnId}}" style="background-image: url(../../assets/icons/fontawesome/chevron-right-solid.svg); width: 20px; height:20px; background-size: cover;"></div>
</div>

{{> primaryButton btn_txt="choose" btn_id=chooseBtnId  }}


home