{{#with data}}
<h2 class="a-h2" id="btn">You’re the alien now!</h2>
<p class="a-text-secondary">You lasted </p>
<p class="a-text-secondary"><span class="a-important-number">{{timeLasted}}</span>min</p>
<p class="a-text-secondary">Get rid of that nasty parasite</p>
<p class="a-text-secondary">Go near the other astronauts to infect them!</p>
{{/with}}
{{> secondaryButton btn_txt="back to game" btn_id=toGameBtnId }}
