<div class="o-app-container">
	<h1>Oh no!</h1>
	<h2>We sensed you got infected!</h2>
	{{> primaryButton btn_txt="Yes!" btn_id=confirmBtnId }}
	{{> secondaryButton btn_txt="No, let me flee!" btn_id=denyBtnId}}
</div>