{{#with data}}
<h1 class="a-h1" id="btn">You win</h1>
<p class="a-text-secondary">You survived the plague!</p>
<p class="a-text-secondary">You lasted </p>
<p class="a-text-secondary"><span class="a-important-number">{{timeLasted}}</span>min</p>
{{/with}}
{{> secondaryButton btn_txt="back to game" btn_id=toGameBtnId }}
