<footer class="o-footer">
    <div class="u-container">
        <div class="o-footer__inner">
            <ul class="o-footer__links">
                <li><a href="https://www.arteveldehogeschool.be/" target="_blank">Arteveldehogeschool</a></li>
                <li><a href="https://www.gdm.gent/" target="_blank">GDM</a></li>
            </ul>
            <span class="o-footer__copyright">© 2019 Arteveldehogeschool</span>
        </div>
    </div>
</footer>