<footer class="m-footer">
    <div class="u-container">
        <div class="m-footer__inner">
            <ul class="m-footer__links">
                <li><a href="https://www.arteveldehogeschool.be/" target="_blank">Arteveldehogeschool</a></li>
                <li><a href="https://www.gdm.gent/" target="_blank">GDM</a></li>
            </ul>
            <span class="m-footer__copyright">© 2019 Arteveldehogeschool</span>
        </div>
    </div>
</footer>