<div class="o-header">
    <div class="u-container">
        <div class="o-header__inner">
            <a href="/" class="m-logo">
                <img src="../../assets/icons/logo/coding.svg" class="a-logo-icon"  alt="">
                <span class="m-logo__divider"></span>
                <img src="../../assets/icons/logo/type.svg" class="a-logo-type"  alt="">
            </a>
            <div class="o-header__actions">
                {{routerLink "home" "Home" "o-header__action"}}
                {{routerLink "firebase" "Firebase" "o-header__action"}}
                {{routerLink "mapbox" "Mapbox" "o-header__action"}}
                {{routerLink "newpage" "dsqgiufhdgsq" "o-header__action"}}
            </div>
        </div>
    </div>
</div>