<div class="o-screen" id="screenInvite">
	<p class="a-text"> Give the <br><span class="a-text--bold">space mission identification code</span><br>to your friends!</p>
	<input type="text" class="a-code" id="{{input_id}}" placeholder="{{code}}">

	<div class="o-inviteFriends">
		<p class="a-text"> Invite your friends</p>
		<div class="o-inviteFriends__icons">
			<div class="a-invite-icon"  style="background-image: url(../../assets/icons/fontawesome/sms-solid.svg); width: 64px; height:64px; background-size: cover;"></div>
			<div class="a-invite-icon"  style="background-image: url(../../assets/icons/fontawesome/whatsapp-brands.svg); width: 64px; height:64px; background-size: cover;"></div>
		</div>
	</div>
	
</div>