body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
	color: $white;
	font-family: "VT323";
	font-size: $font-size-xl;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	letter-spacing: 0.05em;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
